#tradeProgress {
  h4 {
    // font-size: 1.2rem;
    // margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 1rem 0px;
  }

  .box {
    display: flex;
    flex-direction: column;
  
    .top {
      display: flex;
      justify-content: space-between;
  
      small {
        font-size: 13px;
      }
    }
  
    .ant-progress  {
      margin: 5px 0;
    }
  
    .bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;

      .right {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin-bottom: 5px;
        }

        button {
          margin-bottom: 4px;
        }
      }
    }
  }
}