#tradeBalance {

  h4 {
    font-weight: 400;
    font-size: 1.3rem;
    padding: 1rem 0px;
  }

  .trade-box {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 4rem;

    @media(max-width: 545px) {
      padding: 1rem 1.5rem;
    }
  
    .left {
      flex-grow: 1;
  
      p {
        margin: 5px 0;
      }
  
      // p:nth-child(1) {
      //   font-size: 1rem;
      //   font-weight: 500;
      // }
  
      p.acct-balance {
        font-size: 2rem;
        font-weight: 600;
        color: #11315E;
      }

      .profit-container {
        display: flex;

        p {
          margin-right: 1rem;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 400;

          b {
            color: #11315E;
            font-size: 1.1rem;
          }
          
        }
      }
  
    }
  
    .right {
      display: flex;
      align-items: center;
      
      @media screen and (max-width: 774px) {
        width: 100%;
        margin-top: 1rem;
      }
      
      button {
        padding: .6rem 3rem;
        background-color:  #FF5500;
        border: none;
        color: #fff;
        border-radius: 20px;
      }
    }
  }
  
  @media (max-width: 450px) {
    
    .trade-box {
      // flex-direction: column;
  
      .left {
        width: 100%;
        
        .profit-container {
          display: flex;
  
          p {
            margin-right: 1rem;
            font-size: 0.9rem;
          }
        }


      }
  
      .right {
        width: 100%;

        
        button {
          padding: .4rem 1rem;
          background-color:  #FF5500;
          border: none;
          color: #fff;
          border-radius: 20px;
        }
      }
    }
  
  }
}