@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  color: #464855;
}

button:focus {
  outline: none;
}

section.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  margin-bottom: 1rem;

  .title {
    padding-right: 1.5rem;
    border-right: 1px solid rgba(128, 128, 128, 0.473);
    display: flex;
    align-items: center;
  }

  h2 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0;
    position: relative;
    top: -2px;
  }
}


.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.692);
  display: flex;
  align-items: center;
  justify-content: center;
  
  img {
    max-width: 25%;
  }
}

// .loader-img {
//   animation-name: rotate;
//   animation-duration: 1.5s;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;

//   @keyframes rotate {
//     // 0% {
//     //   transform: rotate(0deg);
//     // }

//     100% {
//       transform: rotate(360deg);
//     }

//     // 100% {
//     //   transform: rotate();
//     // }
//   }
// }


button.primary {
  padding: .6rem 3rem;
  background-color:  #FF5500;
  border: none;
  color: #fff;
  border-radius: 20px;
}

button.primary.small {
  padding: .3rem 1.5rem;
}

.ant-table {
  background-color: transparent;
}

.ant-table-thead .ant-table-cell {
  background-color: #11315e05
}

//remove form autofill background color
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px  #F4F5FA inset !important;
-webkit-box-shadow: 0 0 0 30px  #F4F5FA inset !important;
} 

button.primary:hover {
  background-color: #e24c01;
}

button.secondary {
  padding: .6rem 3rem;
  background-color:  #1890FF;
  border: none;
  color: #fff;
  border-radius: 20px;
}

button.secondary.small {
  padding: .3rem 1.5rem;
  background-color:  #1890FF;
  border: none;
  color: #fff;
  border-radius: 20px;
}

button.secondary:hover {
  background-color: #006ed4;
}
