#login, #sign-up {
  display: flex;
  flex-direction: column;
  padding: 2% 5%;
  height: 100vh;

  color: #000;

  .page-title {
    h2 {
      color: #11315E;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 0 20%;

    .title {
      width: 100%;

      h3 {
        font-size: 1.2rem;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        display: flex;
        align-items: center;
        border: 1px solid #d8d8d8;
        padding: 1rem;
        border-radius: 6px;

        span {
          margin-right: 5px;
          font-size: 20px;
          color: #11315E;
        }
        
        input {
          flex-grow: 1;
          border: none;
        }

        input:focus {
          outline: none;
        }
      }

      label:focus-within {
        border: 1px solid #80CDFF;
      }

      .button {
        padding: 1rem;
        border: none;
        background-color: #11315e; //#FF5500;
        color: #fff;
        border-radius: 6px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-height: 100%;
        }
      }
    }
  }

  @media(max-width: 850px) {
    .form-container {
      padding: 10%;
    }
  }

  @media(max-width: 550px) {
    .form-container {
      padding: 2%;

      form {
        label, .button {
          padding: .5rem;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  #login, #sign-up {
    padding: 5%;
  }
}